@model VolunteerAdmin.Models.Opportunity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Opportunity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CenterID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CenterID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpportunityName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpportunityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpportunityDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpportunityDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Assignments)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Assignments)
            {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Volunteer.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Volunteer.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Volunteer.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Volunteer.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(modelItem => item.Volunteer.ID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Volunteer.ID)
            </dd>
        }
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OpportunityID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
