@model IEnumerable<VolunteerAdmin.Models.Volunteer>


@{
    ViewData["Title"] = "Index";
}

<h1>Manage Volunteers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions">
        <p>
            Filter by approval status <input type="text" name="filter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.HomePhone)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CellPhone)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.WorkPhone)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Education)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.EmergencyName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.EmergencyHomePhone)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.EmergencyWorkPhone)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.EmergencyEmail)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.EmergencyAddress)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DLCopyOnFile)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.SSCopyOnFile)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Approved)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomePhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CellPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Education)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmergencyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmergencyHomePhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmergencyWorkPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmergencyEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmergencyAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DLCopyOnFile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SSCopyOnFile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Approved)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

